In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
df1 = DataFrame(np.arange(9).reshape(3, 3), index=['A', 'B', 'C'], columns=['BJ', 'SH', 'GZ'])

In [8]:
df1

   BJ  SH  GZ
A   0   1   2
B   3   4   5
C   6   7   8

In [16]:
# 直接赋值
df1.index = Series(['a', 'b', 'c'])

In [18]:
df1

   BJ  SH  GZ
a   0   1   2
b   3   4   5
c   6   7   8

In [24]:
# map方式产生新的index
df1.index = df1.index.map(str.upper)

In [25]:
df1

   BJ  SH  GZ
A   0   1   2
B   3   4   5
C   6   7   8

In [28]:
# rename方式传入内置mapper函数
df1.rename(index=str.lower, columns=str.lower)

   bj  sh  gz
a   0   1   2
b   3   4   5
c   6   7   8

In [32]:
# map方式传入字典
df1.rename(index={'A':'aaa'}, columns={'BJ': 'beijing'})

     beijing  SH  GZ
aaa        0   1   2
B          3   4   5
C          6   7   8

### map回顾

In [33]:
list1 = [1, 2, 3, 4]

In [37]:
# for循环
list2 = []
for x in list1:
    list2.append(str(x))
list2

['1', '2', '3', '4']

In [38]:
# 列表渲染
[str(x) for x in list1]

['1', '2', '3', '4']

In [40]:
# map方法
list(map(str, list1))

['1', '2', '3', '4']

### 自定义map函数

In [41]:
def map_(x):
    return x + '_'

In [43]:
df1.index = df1.index.map(map_)

In [44]:
df1

    BJ  SH  GZ
A_   0   1   2
B_   3   4   5
C_   6   7   8