In [8]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
import webbrowser
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

True

In [10]:
# 读取粘贴板数据
df1 = pd.read_clipboard()

C:\Users\jiangyanfei\Anaconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [11]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas          None
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [12]:
# 写入数据到粘贴板
df1.to_clipboard()

In [13]:
   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas          None
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

SyntaxError: invalid syntax (<ipython-input-13-9947d2111dea>, line 1)

In [14]:
# 将 DataFrame 保存为 CSV 文件，去除左侧 index
df1.to_csv('df1.csv', index=False)

In [16]:
!dir

 驱动器 C 中的卷没有标签。
 卷的序列号是 3EE8-D32E

 C:\Users\jiangyanfei 的目录

2018/11/29  14:08    <DIR>          .
2018/11/29  14:08    <DIR>          ..
2018/09/05  09:02    <DIR>          .android
2018/07/19  15:18    <DIR>          .astropy
2018/11/15  18:56             5,005 .bash_history
2018/09/27  10:36    <DIR>          .config
2018/08/01  11:07                53 .gitconfig
2018/07/24  13:42    <DIR>          .idlerc
2018/08/16  17:38    <DIR>          .IntelliJIdea2018.2
2018/11/29  13:54    <DIR>          .ipynb_checkpoints
2018/11/20  14:18    <DIR>          .ipython
2018/11/20  17:17    <DIR>          .jupyter
2018/07/18  09:47    <DIR>          .m2
2018/07/23  14:13    <DIR>          .matplotlib
2018/07/31  10:26    <DIR>          .mume
2018/09/27  10:35                84 .node_repl_history
2018/07/18  09:42    <DIR>          .oracle_jre_usage
2018/07/26  10:26    <DIR>          .PyCharm2018.2
2018/09/15  17:48    <DIR>          .pylint.d
2018/07/25  08:54    <DIR>          .quokka
2018/10/23  18:15    <DIR>          .ssh
2018/11/01  16:45    <DIR>          .tooling
2018/07/18  09:55    <DIR>          .vscode
2018/10/23  18:28    <DIR>          .vue-templates
2018/09/27  10:55    <DIR>          .WebStorm2018.2
2018/11/16  08:43    <DIR>          3D Objects
2018/07/19  13:13    <DIR>          Anaconda3
2018/08/14  16:18    <DIR>          AppData
2018/11/23  10:08             8,777 Array.ipynb
2018/11/28  17:42            11,432 Array的input和output.ipynb
2018/11/16  08:43    <DIR>          Contacts
2018/11/29  14:06             8,750 DataFrame IO.ipynb
2018/11/29  11:25            28,365 DataFrame.ipynb
2018/11/28  09:50    <DIR>          Desktop
2018/11/29  14:08               508 df1.csv
2018/11/16  08:43    <DIR>          Documents
2018/11/16  08:43    <DIR>          Downloads
2018/11/16  08:43    <DIR>          Favorites
2018/08/30  12:23            45,473 Figure_1-1.png
2018/07/19  13:26            69,905 Figure_1.png
2018/10/11  16:44    <DIR>          HBuilder
2018/10/11  16:56    <DIR>          HBuilder settings
2018/11/16  08:43    <DIR>          Links
2018/11/16  08:43    <DIR>          Music
2018/11/14  08:49    <DIR>          OneDrive
2018/11/20  17:19               168 one_array.npy
2018/11/16  08:43    <DIR>          Pictures
2018/11/16  08:43    <DIR>          Saved Games
2018/11/16  08:43    <DIR>          Searches
2018/09/27  11:11    <DIR>          sell
2018/11/29  10:57             8,248 Series.ipynb
2018/10/16  11:14    <DIR>          todolist
2018/11/20  17:23               570 two_array.npz
2018/11/16  08:43    <DIR>          Videos
2018/11/20  17:17               585 x.pkl
2018/11/20  17:13            13,983 数组与矩阵计算.ipynb
2018/11/29  13:53            14,875 深入理解Series和DataFrame.ipynb
              16 个文件        216,781 字节
              41 个目录 118,110,306,304 可用字节

In [18]:
!more df1.csv

Format Type,Data Description,Reader,Writer
text,CSV,read_csv,to_csv
text,JSON,read_json,to_json
text,HTML,read_html,to_html
text,Local clipboard,read_clipboard,to_clipboard
binary,MS Excel,read_excel,to_excel
binary,HDF5 Format,read_hdf,to_hdf
binary,Feather Format,read_feather,to_feather
binary,Msgpack,read_msgpack,to_msgpack
binary,Stata,read_stata,to_stata
binary,SAS,read_sas,
binary,Python Pickle Format,read_pickle,to_pickle
SQL,SQL,read_sql,to_sql
SQL,Google Big Query,read_gbq,to_gbq

In [20]:
# 读取CSV文件
df2 = pd.read_csv('df1.csv')

In [22]:
df2

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas           NaN
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [25]:
# to_json
df1.to_json()

'{"Format Type":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"SQL","12":"SQL"},"Data Description":{"0":"CSV","1":"JSON","2":"HTML","3":"Local clipboard","4":"MS Excel","5":"HDF5 Format","6":"Feather Format","7":"Msgpack","8":"Stata","9":"SAS","10":"Python Pickle Format","11":"SQL","12":"Google Big Query"},"Reader":{"0":"read_csv","1":"read_json","2":"read_html","3":"read_clipboard","4":"read_excel","5":"read_hdf","6":"read_feather","7":"read_msgpack","8":"read_stata","9":"read_sas","10":"read_pickle","11":"read_sql","12":"read_gbq"},"Writer":{"0":"to_csv","1":"to_json","2":"to_html","3":"to_clipboard","4":"to_excel","5":"to_hdf","6":"to_feather","7":"to_msgpack","8":"to_stata","9":null,"10":"to_pickle","11":"to_sql","12":"to_gbq"}}'

In [27]:
# read_json
pd.read_json(df1.to_json())

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas          None

In [28]:
# to_html
df1.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Format Type</th>\n      <th>Data Description</th>\n      <th>Reader</th>\n      <th>Writer</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>text</td>\n      <td>CSV</td>\n      <td>read_csv</td>\n      <td>to_csv</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>text</td>\n      <td>JSON</td>\n      <td>read_json</td>\n      <td>to_json</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>text</td>\n      <td>HTML</td>\n      <td>read_html</td>\n      <td>to_html</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>text</td>\n      <td>Local clipboard</td>\n      <td>read_clipboard</td>\n      <td>to_clipboard</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>binary</td>\n      <td>MS Excel</td>\n      <td>read_excel</td>\n      <td>to_excel</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>binary</td>\n      <td>HDF5 Format</td>\n      <td>read_hdf</td>\n      <td>to_hdf</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>binary</td>\n      <td>Feather Format</td>\n      <td>read_feather</td>\n      <td>to_feather</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>binary</td>\n      <td>Msgpack</td>\n      <td>read_msgpack</td>\n      <td>to_msgpack</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>binary</td>\n      <td>Stata</td>\n      <td>read_stata</td>\n      <td>to_stata</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>binary</td>\n      <td>SAS</td>\n      <td>read_sas</td>\n      <td>None</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>binary</td>\n      <td>Python Pickle Format</td>\n      <td>read_pickle</td>\n      <td>to_pickle</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>SQL</td>\n      <td>SQL</td>\n      <td>read_sql</td>\n      <td>to_sql</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>SQL</td>\n      <td>Google Big Query</td>\n      <td>read_gbq</td>\n      <td>to_gbq</td>\n    </tr>\n  </tbody>\n</table>'

In [30]:
# to_excel
df1.to_excel('df1.xlsx')

In [31]:
pwd

'C:\\Users\\jiangyanfei'