In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# 通过粘贴的方法创建一个 DataFrame
import webbrowser
link = 'http://www.tiobe.com/tiobe-index'
webbrowser.open(link)

True

In [9]:
# 获取粘贴板内容进行DataFrame创建
df = pd.read_clipboard()

C:\Users\jiangyanfei\Anaconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [11]:
df

   Nov 2018  Nov 2017  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  16.746%   +3.51%
1         2         2     NaN                    C  14.396%   +5.10%
2         3         3     NaN                  C++   8.282%   +2.94%
3         4         4     NaN               Python   7.683%   +3.20%
4         5         7  change    Visual Basic .NET   6.490%   +3.58%
5         6         5  change                   C#   3.952%   +0.94%
6         7         6  change           JavaScript   2.655%   -0.32%

In [13]:
type(df)

pandas.core.frame.DataFrame

In [15]:
# 获取列
df.columns

Index(['Nov 2018', 'Nov 2017', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [19]:
# 获取特定列的value
df.Ratings

0    16.746%
1    14.396%
2     8.282%
3     7.683%
4     6.490%
5     3.952%
6     2.655%
Name: Ratings, dtype: object

In [21]:
# 获取某几列的value(过滤产生新的DF)
df_new = DataFrame(df, columns={'Programming Language', 'Nov 2018'})

In [22]:
df_new

   Nov 2018 Programming Language
0         1                 Java
1         2                    C
2         3                  C++
3         4               Python
4         5    Visual Basic .NET
5         6                   C#
6         7           JavaScript

In [24]:
df['Programming Language']

0                 Java
1                    C
2                  C++
3               Python
4    Visual Basic .NET
5                   C#
6           JavaScript
Name: Programming Language, dtype: object

In [26]:
type(df['Programming Language'])

pandas.core.series.Series

In [28]:
type(df_new)

pandas.core.frame.DataFrame

In [29]:
df_new2 = DataFrame(df, columns={'Programming Language', 'Nov 2018', 'Sep 2018'})

In [31]:
df_new2

   Nov 2018  Sep 2018 Programming Language
0         1       NaN                 Java
1         2       NaN                    C
2         3       NaN                  C++
3         4       NaN               Python
4         5       NaN    Visual Basic .NET
5         6       NaN                   C#
6         7       NaN           JavaScript

In [34]:
# 新列数据填充
# list
df_new2['Sep 2018'] = range(0,7)

In [36]:
df_new2

   Nov 2018  Sep 2018 Programming Language
0         1         0                 Java
1         2         1                    C
2         3         2                  C++
3         4         3               Python
4         5         4    Visual Basic .NET
5         6         5                   C#
6         7         6           JavaScript

In [37]:
# array方式
df_new2['Sep 2018'] = np.arange(10, 17)

In [39]:
df_new2

   Nov 2018  Sep 2018 Programming Language
0         1        10                 Java
1         2        11                    C
2         3        12                  C++
3         4        13               Python
4         5        14    Visual Basic .NET
5         6        15                   C#
6         7        16           JavaScript

In [40]:
# Serire方式
df_new2['Sep 2018'] = pd.Series(np.arange(20, 27))

In [42]:
df_new2

   Nov 2018  Sep 2018 Programming Language
0         1        20                 Java
1         2        21                    C
2         3        22                  C++
3         4        23               Python
4         5        24    Visual Basic .NET
5         6        25                   C#
6         7        26           JavaScript

In [45]:
df_new3 = DataFrame(df, columns={'Sep 2018', 'Nov 2018', 'Programming Language'})

In [47]:
df_new3

   Nov 2018  Sep 2018 Programming Language
0         1       NaN                 Java
1         2       NaN                    C
2         3       NaN                  C++
3         4       NaN               Python
4         5       NaN    Visual Basic .NET
5         6       NaN                   C#
6         7       NaN           JavaScript

In [49]:
# 对新列中索引为1、2的元素进行数据填充
df_new3['Sep 2018'] = pd.Series([100, 200], index={1, 2})

In [51]:
df_new3

   Nov 2018  Sep 2018 Programming Language
0         1       NaN                 Java
1         2     100.0                    C
2         3     200.0                  C++
3         4       NaN               Python
4         5       NaN    Visual Basic .NET
5         6       NaN                   C#
6         7       NaN           JavaScript