In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
# 读取文件
f = pd.read_csv("J:\csv\movie_metadata.csv")

In [10]:
# 创建DF，并对列进行过滤
df = DataFrame(f,columns=['imdb_score','director_name','movie_title'])

In [13]:
df.head()

,imdb_score,director_name,movie_title
0,7.9,James Cameron,Avatar
1,7.1,Gore Verbinski,Pirates of the Caribbean: At World's End
2,6.8,Sam Mendes,Spectre
3,8.5,Christopher Nolan,The Dark Knight Rises
4,7.1,Doug Walker,Star Wars: Episode VII - The Force Awakens ...

In [23]:
# 对imdb_score字段进行降序排列
df_ = df.sort_values(['imdb_score'], ascending=False)

In [25]:
df_.head()

      imdb_score         director_name                    movie_title
2765         9.5        John Blanchard  Towering Inferno
1937         9.3        Frank Darabont      The Shawshank Redemption
3466         9.2  Francis Ford Coppola                 The Godfather
4409         9.1        John Stockwell          Kickboxer: Vengeance
2824         9.1                   NaN           Dekalog

In [27]:
# 转存为文件
df_.to_csv('imdb.csv', index=False)