In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [11]:
# create a dataframe
df1 = DataFrame({"城市": ["北京", "上海", "广州"], "人口":[1000, 2000, 1500]})

In [12]:
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

In [9]:
# add a column named GDP by Series 默认index为 0 1 2 若DF index 发生变化，需要指定index 才可以进行填充
# df1['GDP'] = Series([1000, 2000, 1500])

In [13]:
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

### map 方式 增加列

In [8]:
gdp_map = {
    "北京": 1000,
    "上海": 2000,
    "广州": 1500
}

In [14]:
# map方式增加列
df1['GDP'] = df1['城市'].map(gdp_map)

In [16]:
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  1500  1500

In [17]:
# replace in Series
s1 = Series(np.arange(10))

In [19]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [20]:
# replace 单个
s1.replace(1, np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [21]:
# 字典方式replace
s1.replace({2:-2})

0    0
1    1
2   -2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [22]:
# replace 多个
s1.replace([7,8,9], [-7,-8,-9])

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7   -7
8   -8
9   -9
dtype: int64