In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Series Reindex

In [3]:
s1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [4]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
s1.reindex(index=['A', 'B', 'C', 'D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [6]:
# 填充数据方法1
s1.reindex(index=['A', 'B', 'C', 'D','E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [7]:
s2 = Series(['A', 'B', 'C'], index=[1, 5, 10])

In [8]:
s2

1     A
5     B
10    C
dtype: object

In [11]:
# ffill 进行填充  0 不会自动填充  1-4 参照5；6-9参照10；11-14参照15；
s2.reindex(index=range(15), method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

### DataFrame Reindex

In [18]:
df1 = DataFrame(np.random.rand(25).reshape([5, 5]), index=['A', 'B', 'C', 'D', 'E'], columns=['c1', 'c2', 'c3', 'c4', 'c5'])

In [19]:
df1

         c1        c2        c3        c4        c5
A  0.282241  0.535411  0.257932  0.993588  0.237050
B  0.105177  0.011686  0.285663  0.289201  0.800772
C  0.084748  0.407965  0.484152  0.237622  0.850728
D  0.848182  0.861880  0.851416  0.263151  0.082312
E  0.506183  0.446820  0.858373  0.030852  0.900149

In [21]:
df1.reindex(index=['A', 'B', 'C', 'D', 'E', 'F'])

         c1        c2        c3        c4        c5
A  0.282241  0.535411  0.257932  0.993588  0.237050
B  0.105177  0.011686  0.285663  0.289201  0.800772
C  0.084748  0.407965  0.484152  0.237622  0.850728
D  0.848182  0.861880  0.851416  0.263151  0.082312
E  0.506183  0.446820  0.858373  0.030852  0.900149
F       NaN       NaN       NaN       NaN       NaN

In [24]:
# 同时对一个DataFrame 进行Reindex columns and index 
df1.reindex(index=['A', 'B', 'C', 'D', 'E', 'F'], columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6'])

         c1        c2        c3        c4        c5  c6
A  0.282241  0.535411  0.257932  0.993588  0.237050 NaN
B  0.105177  0.011686  0.285663  0.289201  0.800772 NaN
C  0.084748  0.407965  0.484152  0.237622  0.850728 NaN
D  0.848182  0.861880  0.851416  0.263151  0.082312 NaN
E  0.506183  0.446820  0.858373  0.030852  0.900149 NaN
F       NaN       NaN       NaN       NaN       NaN NaN

In [25]:
# Series 和 DataFrame reindex 可以实现切片的功能
# Series
s1

A    1
B    2
C    3
D    4
dtype: int64

In [27]:
s1.reindex(index=['A', 'B'])

A    1
B    2
dtype: int64

In [29]:
# DataFrame
df1.reindex(index=['A', 'B'])

         c1        c2        c3        c4        c5
A  0.282241  0.535411  0.257932  0.993588  0.237050
B  0.105177  0.011686  0.285663  0.289201  0.800772

In [31]:
# drop 也可以实现切片功能
# Series
s1

A    1
B    2
C    3
D    4
dtype: int64

In [33]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [35]:
# DataFrame
df1

         c1        c2        c3        c4        c5
A  0.282241  0.535411  0.257932  0.993588  0.237050
B  0.105177  0.011686  0.285663  0.289201  0.800772
C  0.084748  0.407965  0.484152  0.237622  0.850728
D  0.848182  0.861880  0.851416  0.263151  0.082312
E  0.506183  0.446820  0.858373  0.030852  0.900149

In [36]:
# 删除行 
df1.drop('A', axis=0)

         c1        c2        c3        c4        c5
B  0.105177  0.011686  0.285663  0.289201  0.800772
C  0.084748  0.407965  0.484152  0.237622  0.850728
D  0.848182  0.861880  0.851416  0.263151  0.082312
E  0.506183  0.446820  0.858373  0.030852  0.900149