In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s1 = Series(np.random.randn(5))

In [3]:
s1

0   -0.453149
1   -0.135939
2    0.637722
3    0.699666
4   -0.421094
dtype: float64

In [9]:
s2 = s1.sort_values(ascending=False)

In [10]:
s2

3    0.699666
2    0.637722
1   -0.135939
4   -0.421094
0   -0.453149
dtype: float64

In [11]:
s2.sort_index()

0   -0.453149
1   -0.135939
2    0.637722
3    0.699666
4   -0.421094
dtype: float64

In [6]:
df1 = DataFrame(np.random.randn(20).reshape(4,5), columns=['A','B','C','D','E'])

In [7]:
df1

          A         B         C         D         E
0  0.403732  0.606740  1.541663  0.234843 -0.402240
1  0.133309 -1.162006 -0.771213  0.031571  0.991760
2  1.806977  2.075693 -0.642166 -0.286323  0.447803
3  0.728510 -0.051482 -0.324818 -0.107219  0.592448

In [12]:
df1.sort_values(['A'],ascending = False)

          A         B         C         D         E
2  1.806977  2.075693 -0.642166 -0.286323  0.447803
3  0.728510 -0.051482 -0.324818 -0.107219  0.592448
0  0.403732  0.606740  1.541663  0.234843 -0.402240
1  0.133309 -1.162006 -0.771213  0.031571  0.991760