In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 原数据集
score_list = np.random.randint(25, 100, size=20)

In [3]:
# 区间设置
bins = [0, 59, 70, 80, 100]

In [5]:
# 数据分箱
res = pd.cut(score_list, bins)

In [8]:
res.dtype

CategoricalDtype(categories=[(0, 59], (59, 70], (70, 80], (80, 100]]
              ordered=True)

In [20]:
res

[(0, 59], (80, 100], (0, 59], (80, 100], (59, 70], ..., (59, 70], (0, 59], (80, 100], (59, 70], (80, 100]]
Length: 20
Categories (4, interval[int64]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

In [21]:
pd.value_counts(res)

(80, 100]    7
(0, 59]      7
(59, 70]     5
(70, 80]     1
dtype: int64

In [10]:
# 例子拓展
# 1.容器创建
df = DataFrame()

In [11]:
# 数据项填充
df['score'] = score_list
df['name'] = [pd.util.testing.rands(3) for i in range(20)]

In [12]:
# 数据分箱
df['res'] = pd.cut(df['score'], bins, labels = ['Low', 'OK', 'Good', 'Great'])

In [13]:
df.sort_values('score', ascending = False).head()

    score name    res
1      90  dlw  Great
7      90  HyF  Great
17     87  a4M  Great
11     82  L2y  Great
19     73  lF5   Good