In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from datetime import datetime
t1 = datetime(2018, 12, 7)

In [4]:
t1

datetime.datetime(2018, 12, 7, 0, 0)

In [17]:
date_list = {
    datetime(2016,6,6),
    datetime(2016,7,7),
    datetime(2018,8,18),
    datetime(2015,5,15),
    datetime(2014,4,14),
}

In [18]:
date_list

{datetime.datetime(2014, 4, 14, 0, 0),
 datetime.datetime(2015, 5, 15, 0, 0),
 datetime.datetime(2016, 6, 6, 0, 0),
 datetime.datetime(2016, 7, 7, 0, 0),
 datetime.datetime(2018, 8, 18, 0, 0)}

In [19]:
s1 = Series(np.random.randn(5), index=date_list)

In [20]:
s1

2018-08-18   -0.400025
2016-06-06    0.053413
2014-04-14    1.068531
2015-05-15    0.382434
2016-07-07    0.036097
dtype: float64

In [21]:
# 访问
s1[1]

0.05341310750443036

In [22]:
s1[datetime(2016,6,6)]

0.05341310750443036

In [23]:
s1['2016-06-06']

2016-06-06    0.053413
dtype: float64

In [24]:
s1['2016-']

2016-06-06    0.053413
2016-07-07    0.036097
dtype: float64

In [25]:
# 生成范围内时间序列
# 从2018-01-01 开始，长度为10，步长限制为W 周 默认从SUN-SAT
date_list = pd.date_range('2018-01-01', periods=10, freq='W')

In [27]:
date_list

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [28]:
s2 = Series(np.random.randn(10), index = date_list)

In [29]:
s2

2018-01-07   -1.601305
2018-01-14    0.554921
2018-01-21    0.344534
2018-01-28    0.040423
2018-02-04   -0.707336
2018-02-11    1.286805
2018-02-18   -0.419017
2018-02-25    0.885910
2018-03-04   -0.795185
2018-03-11    0.385664
Freq: W-SUN, dtype: float64