In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
# 数据初始化
data = {
    'Country': ['Belgium', 'India', 'Brazil'],
    'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
    'Population': [11190846, 1303171035, 207847528]
}

In [6]:
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

### Series

In [14]:
# 数据字典中 value 均是 list 类型  
s1 = pd.Series(data['Country'], index=['A', 'B', 'C'])

In [15]:
s1

A    Belgium
B      India
C     Brazil
dtype: object

In [16]:
# Series 中的 value 是 array
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [17]:
# 默认index RangeIndex
s1.index

Index(['A', 'B', 'C'], dtype='object')

### DataFrame

In [18]:
df1 = pd.DataFrame(data)

In [20]:
df1

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [21]:
# 数据访问
df1['Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [23]:
# DataFrame 中 每列为 Serie， DataFrame 是由多个 Series 组成的
type(df1['Country'])

pandas.core.series.Series

In [25]:
# iterrows 返回一个 生成器 generator ，可通过for循环取出内部数据
df1.iterrows()

In [27]:
for row in df1.iterrows():
    print(row),print(type(row)),print(len(row))

(0, Country        Belgium
Capital       Brussels
Population    11190846
Name: 0, dtype: object)
<class 'tuple'>
2
(1, Country            India
Capital        New Delhi
Population    1303171035
Name: 1, dtype: object)
<class 'tuple'>
2
(2, Country          Brazil
Capital        Brasilia
Population    207847528
Name: 2, dtype: object)
<class 'tuple'>
2

In [31]:
# 打印第一行元素 上述举例中len(row) 为 2 其中row[0] 为行索引 row[1] 为行实际数据内容
for row in df1.iterrows():
    row0 = row[0]
    row1 = row[1]
    print(row0, row1)
    break

0 Country        Belgium
Capital       Brussels
Population    11190846
Name: 0, dtype: object

In [33]:
# 查看row的元素数据类型
print(type(row0))

<class 'int'>

In [35]:
# 可以看出 row[1] 的数据类型为 Series 
print(type(row1))

<class 'pandas.core.series.Series'>

### 通过Series 创建 DataFrame

In [36]:
# 根据 data 创建 三个 Series
s1 = pd.Series(data['Capital'])
s2 = pd.Series(data['Country'])
s3 = pd.Series(data['Population'])

In [49]:
# 以 Series list 形式创建 DataFrame
df_new = pd.DataFrame([s2, s1, s3], index=['Country', 'Capital', 'Population'])

In [50]:
# 以行的形式进行了 DataFrame 构建 
df_new

                   0           1          2
Country      Belgium       India     Brazil
Capital     Brussels   New Delhi   Brasilia
Population  11190846  1303171035  207847528

In [41]:
# 对比 df1
df1

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [51]:
# 转置
df_new = df_new.T

In [52]:
df_new

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528